<div class="container"><br>
    <h4>Customers</h4><br>
    
    <div class="form-inline">
      <div class="form-group col-md-3">
        <label for="email">Search by Company</label>
        <input
          type="text"
          class="form-control"
          placeholder=""
          [(ngModel)]="companyName" />
        <div class="input-group-append">
          <button
            class="btn btn-warning btn-icon"
            type="button"
            (click)="searchCompanyNameBilling()" >
          <span class="sr-only">Icon</span>
          <span class="icon icon-search" aria-hidden="true"></span>
          </button>
        </div>
      </div>
    </div><br>
    
    <table class="table">
        <thead>
            <tr>
            <th scope="col">companyName</th>
            <th scope="col">reference</th>
            <th scope="col">billLineStartDate</th>
            <th scope="col">billLineEndDate</th>
            <th scope="col">totalRetail</th>
            <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let invoice of invoices| paginate : {
              id: 'listing_pagination',
              itemsPerPage: 6,
              currentPage: page,
              totalItems: totalRec
              }; 
              let i = index"
            [class.active]="i == currentIndex"
            (click)="setActiveBilling(invoice, i)" >
            <td>{{ invoice.companyName }}</td>
            <td>{{ invoice.reference }}</td>
            <td>{{ invoice.billLineStartDate }}</td>
            <td>{{ invoice.billLineEndDate }}</td>
            <td>{{ invoice.totalRetail }}</td>
            <td>
                <a class="btn btn-success btn-info" href="#" routerLink="/azure/billing/{{ invoice.reference }}">
                <span class="icon icon-orange-corporate" aria-hidden="true"></span></a>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="mx-auto" style="width: 600px;">
      <pagination-controls  id="listing_pagination" maxSize="20" directionLinks="true" (pageChange)="page = $event"></pagination-controls>
    </div>
    </div>
